<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="weapon" class="course.c01.Gun" />

	<bean id="mySoldier" class="course.c01.MySoldierOK">
		<constructor-arg ref="weapon" />
	</bean>

</beans>